h1{
  align-items:center;
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  padding:10px;
  margin:10px;
  
}

/*Author and Post Content styling*/
  
  #name-of-author{
    padding: 3% 0% 3% 0%;
    margin:8%;
    font: 300 70px/0.8 'Great Vibes', Helvetica, sans-serif;
    color:black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);   
  }
  

  #postContent{
    outline: 0px solid lightblue;
    margin:2%;
    padding:2%;
}

/*For edit and save button*/

.buttonedit {
   margin-top: 3%;
    padding: 10px 25px;
    background-color: #EF3B65;
    box-shadow: 0 0 20px 0 #d4617c;
    font-weight: bold;
    cursor: pointer;
    float:right;
    transform:translate(450%);
    color:white;
    border: 0;
    outline: 0;
}


/*styling for like button*/

.like-Button {
  width:8%;
  margin:2%;
  color:white;
  box-shadow: #ff0066;
  height:2.5rem;
  background-color: #ff0066;
  font-family: 'Quando', 'serif';
  border:#d4617c;
}
#like-active{
  padding:10px;
  font-size:110%;
  font-family:'Quando','serif';
}
b{
  padding:10px;
}

/*styling for comment*/ 

.comment-button{
  margin: 20px;
  padding:10px;
  background: #EF3B65;
  box-shadow: 0px 10px 20px -9px #EF3B65;
  color: white;
  cursor: pointer;
  width:10%;
  display: block;
  border: #d4617c;
}
/* styles for comment box */
#usercomment{
  width: 50%;
  max-height: 500px;
  margin:30px;
}
/* style for  the comments saved */
.commentactivation{
  background-color: lightgrey;
  padding: 10px;
  margin:30px;
  width: 50%;
}
/* styles for the comment */
#addcomment{
  background-color: white;
  padding: 20px;
  font-size: larger;

}
h3{
  margin:40px;

}


@media screen and (max-width: 600px) {
 .comment-button {
    width:100px;
  }
  h1{
    align-items:center;
  }
  .like-Button{
    width:100px;
    transform:translate(15%);
  }
  .buttonedit{
  transform:translate(30%);


  }
}


  
